<div class="container-fluid">
  <div class="row">
  <div id="title"><div> Trendy Stocks</div>
  </div>
  </div>
  <div class="centerstuff"> <span>  Search Market Symbols: </span>
          <input id="search" type="text" name="search" (keyup)="$event.keyCode === 13 && search()">
          <button id="myButton" class="button" (click)="search();" (keydown)="$event.keyCode === 13 && search()">Go!</button>
</div>

    <div>
      <img *ngIf="logoData" [src]="logoData.url"/>
    </div>
  <div class="row">
      <table id="result_table" *ngIf="companyData">
        <tr>
          <th mat-sort-header> Company Name:</th>
          <th mat-sort-header> Exchange:</th>
          <th mat-sort-header> Industry:</th>
          <th mat-sort-header> Website:</th>
          <th mat-sort-header> Description:</th>
          <th mat-sort-header> CEO:</th>
          <th mat-sort-header> Sector:</th>
        </tr>

        <tr>
          <td>{{companyData.companyName}}</td>
          <td>{{companyData.exchange}}</td>
          <td>{{companyData.industry}}</td>
          <td><a target="_blank" href="{{companyData.website}}">{{companyData.website}}</a></td>
          <td>{{companyData.description}}</td>
          <td>{{companyData.CEO}}</td>
          <td>{{companyData.sector}}</td>
        </tr>
      </table>
  </div>
  <div class="row flex-nowrap" *ngIf="trendData">
    <div style="margin-left:10px; width:35.8%;">
      <br>
           Pricing Information for {{companyData.companyName}}:<br><br>
           Today:<br>     Open: {{trendData[today].open}}<br>     Low: {{trendData[today].low}}<br>     High: {{trendData[today].high}}<br>     Close: {{trendData[today].close}}<br>     Daily Percent Change: {{trendData[today].changePercent}}%<br><br>
           Last Week:<br>     Low: {{lastWeekLow}} on {{lastWeekLowDate}}<br>     High: {{lastWeekHigh}} on {{lastWeekHighDate}}<br>     Weekly Percent Change: {{lastWeekPercentChange}}%<br><br>
           Last Month:<br>     Low: {{lastMonthLow}} on {{lastMonthLowDate}}<br>     High: {{lastMonthHigh}} on {{lastMonthHighDate}}<br>     Monthly Percent Change: {{lastMonthPercentChange}}%<br><br>
           Last Year:<br>     Low: {{lastYearLow}} on {{lastYearLowDate}}<br>     High: {{lastYearHigh}} on {{lastYearHighDate}}<br>     Yearly Percent Change: {{lastYearPercentChange}}%<br><br>
    </div>
    <div>
      <br>
      Recent News Related to {{companyData.companyName}}:<br><br>
      {{newsData[0].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[0].url}}">{{newsData[0].source}}: {{newsData[0].headline}}</a>
      <br><br>

      {{newsData[1].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[1].url}}">{{newsData[1].source}}: {{newsData[1].headline}}</a>
      <br><br>

      {{newsData[2].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[2].url}}">{{newsData[2].source}}: {{newsData[2].headline}}</a>
      <br><br>

      {{newsData[3].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[3].url}}">{{newsData[3].source}}: {{newsData[3].headline}}</a>
      <br><br>

      {{newsData[4].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[4].url}}">{{newsData[4].source}}: {{newsData[4].headline}}</a>
      <br><br>

      {{newsData[5].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[5].url}}">{{newsData[5].source}}: {{newsData[5].headline}}</a>
      <br><br>

      {{newsData[6].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[6].url}}">{{newsData[6].source}}: {{newsData[6].headline}}</a>
      <br><br>

      {{newsData[7].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[7].url}}">{{newsData[7].source}}: {{newsData[7].headline}}</a>
      <br><br>

      {{newsData[8].datetime.substring(0, 10)}}<br>
      <a target ="_blank" href="{{newsData[8].url}}">{{newsData[8].source}}: {{newsData[8].headline}}</a>
      <br><br>
    </div>
  </div>
    </div>

    <!--

      <div *ngIf="companyData" class="card">
        <div class="mat-row">
          <div>Company Name: {{ companyData.companyName }}</div>
          <div>Exchange: {{ companyData.exchange }}</div>
          <div>Industry: {{ companyData.industry }}</div>
          <div>Website: {{companyData.website}}</div>
          <div>Description: {{companyData.description}}</div>
          <div>CEO: {{companyData.CEO}}</div>
          <div>Sector: {{companyData.sector}}</div>
          <div></div>
        </div>
      </div>
    -->
